<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block metatitle %}{% endblock %} | Denis Siavichay</title>
	<meta name="keywords" content="Python,Django,HTML5,CSS3,HTML,Resume,CV" >
	<meta name="description" content="Denis Siavichay resume, portfolio and blog">

    {%include "base/css.html" %}

</head>
<body class="animsition">
{% include "base/navbar.html" %}

{% block header %}{% endblock %}

<!-- Content section
================================================== -->
<section class="content">
	{% block content %}{% endblock %}
</section>


{% include 'base/footer.html' %}

{% include "base/js.html" %}
</body>
</html>