{% load static %}
<!-- Header -->
<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-10">
				
				<a href="./" id="logo" class="at-link">Gary</a>

				<div class="page-title">
					<div class="title-wrap">
						<h1>{{ title }}</h1>
						<p class="lead">{{ description }}</p>
					</div>
				</div>

            </div>
			<div class="col-xs-2 text-right">
				<div class="burger-menu-wrapper">
					<a href="javascript:;" class="burger-menu">
						<span></span>
						<span></span>
						<span></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!--End of Header -->