{% load static %}
<!-- Header -->
<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-10">
				
				<!--<a href="./" id="logo" class="at-link">Gary</a>-->

				<div class="page-title">
					<div class="title-wrap">
						<div class="highlight">
							<span class="k">def</span> <span class="nf">{{ title }}</span><span class="p">:</span><br>
							<span class="k tab">return</span> <span class="s2">&quot;{{ description }}&quot;</span>
						</div>
					</div>
				</div>
            </div>
			<div class="col-xs-2 text-right">
				<div class="burger-menu-wrapper">
					<a href="javascript:;" class="burger-menu">
						<span></span>
						<span></span>
						<span></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!--End of Header -->