
{% load static %}

<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script src="{% static 'js/animating.js' %}"></script>

<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'https://www.google.com/recaptcha/api.js' %}"></script>

<script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'js/jquery.shuffle.min.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

<script src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCrDf32aQTCVENBhFJbMBKOUTiUAABtC2o' %}"></script>
<script src="{% static 'js/jquery.googlemap.js' %}"></script>
<script src="{% static 'js/validator.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>