
{% load static %}
<!-- Include jQuery -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<!-- Animsition -->
<script type="text/javascript" src="{% static 'plugins/animsition/js/jquery.animsition.min.js' %}"></script>

<!-- PieProgress -->
<script type="text/javascript" src="{% static 'plugins/asPieProgress/jquery-asPieProgress.min.js' %}"></script>

<!-- Scripts -->
<script type="text/javascript" src="{% static 'plugins/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/isotope.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>