<!-- Main navigation section
================================================== -->
<nav id="navigation">
	<div class="inner-table">
		<div class="inner-cell">
			<div class="nav-wrapper">
				
				<a href="javascript:;" id="close-menu">
					<span></span>
					<span></span>
				</a>

				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						
						<ul>
							<li>
								<a href="{% url 'index' %}" class="active at-link">
									<i class="fa fa-home"></i>
									<span>Sobre mi</span>
								</a>
							</li>
							<li>
								<a href="{% url 'resume:home' %}" class="at-link">
									<i class="fa fa-file-text-o"></i>
									<span>Curriculum</span>
								</a>
							</li>

							<li>
								<a href="{% url 'portfolio:home' %}" class="at-link">
									<i class="fa fa-briefcase"></i>
									<span>Portafolio</span>
								</a>
							</li>
							<li>
								<a href="{% url 'blog:home' %}" class="at-link">
									<i class="fa fa-pencil"></i>
									<span>Blog</span>
								</a>
							</li>
							<li>
								<a href="blog.html" class="at-link">
									<i class="fa fa-code "></i>
									<span>Mi stack</span>
								</a>
							</li>
							<li>
								<a href="contacts.html" class="at-link">
									<i class="fa fa-phone"></i>
									<span>Contacto</span>
								</a>
							</li>
						</ul>

						<h4>Home</h4>

					</div>
				</div>

			</div>
		</div>
	</div>
</nav>