{% extends "base/base.html" %}

{% load static %}

{% block metatitle %}Blog{% endblock %}

{% block header %}
{% include "base/header.html" with title="Blog" description="Últimas publicaciones" %}
{% endblock %}

{% block content %}
<div class="container padding4x">
    <div class="row">
        <div class="col-md-12">
            <div class="blog-posts blog-grid">
                
                {% for post in object_list %}
                <article class="post-item col-md-4 col-sm-6 col-xs-12">
                    <div class="entry-item" data-bg-image="{% static 'images/blog/grid1.jpg' %}">
                        <img src="{% static 'images/1x1.png' %}" class="img-block" alt="image block">
                        <a href="{% url 'blog:post_detail' post.id %}" class="entry-hover at-link">
                            <span class="inner-table">
                                <span class="inner-cell">
                                    <span class="post-format"><i class="fa fa-image"></i></span>
                                </span>
                            </span>								
                        </a>
                        <div class="entry-meta">
                            <div class="entry-date">
                                <span class="day">{{ post.date|date:"d" }}</span>
                                <span class="month">{{ post.date|date:"M" }}</span>
                            </div>
                            <div class="entry-title">
                                <div class="entry-author">Denis Siavichay</div>
                                <h3>
                                    <a href="{% url 'blog:post_detail' post.id %}" class="at-link">
                                        {{ post.title }}
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}


                                
                <p>&nbsp;</p>
                <ul class="pagination">
                    <li><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">Next</a></li>
                </ul>

            </div>

        </div>
        
    </div>
</div>
{% endblock %}