{% extends "base/base.html" %}

{% load static %}

{% block metatitle %}Resume{% endblock %}

{% block header %}
{% include "base/header.html" with title="Hoja de vida" description="Preparación y habilidades" %}
{% endblock %}

{% block content %}
<div class="container padding4x">
    <div class="row">
        <div class="col-md-12">
            
            <div class="timeline-exp">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="exp-title">
                            <span class="exp-icon">
                                <i class="fa fa-graduation-cap"></i>
                            </span>
                            <h4>educación</h4>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="exp-title">
                            <span class="exp-icon">
                                <i class="fa fa-briefcase"></i>
                            </span>
                            <h4>experiencia</h4>
                        </div>
                    </div>
                </div>

                <div class="timeline-wrapper">
                    {% for object in object_list %}
                    {% if object.jobexperience %}
                    <div class="row">
                        <div class="col-xs-6 tl-item pull-right">
                            <span class="icon">
                                <i class="fa fa-briefcase"></i>
                            </span>
                            <div class="caption">{{ object.start_date|date:"Y / M" }}  -  {{ object.ends_date|date:"Y / M"|default:"Actualmente" }}</div>
                            <h4>{{ object.jobexperience.job_position }}</h4>
                            <p>{{ object.jobexperience.institution }}</p>
                            <ul class="check-list">
                                {% for activity in object.jobexperience.jobactivity_set.all %}
                                <li>{{ activity.description }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-xs-6 tl-item">
                            <span class="icon">
                                <i class="fa fa-graduation-cap"></i>
                            </span>
                            <div class="caption">{{ object.start_date|date:"Y / M" }}  -  {{ object.ends_date|date:"Y / M"|default:"Actualmente" }}</div>
                            <h4>{{ object.jobtitle.name }}</h4>
                            <p>{{ object.jobtitle.institution }}</p>
                            <p>{{ object.jobtitle.level }}</p>
                            <p>{% if object.jobtitle.senescyt_number %}Registro Senescyt: {{ object.jobtitle.senescyt_number }} {% endif %}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>

            </div>

        </div>
    </div>
</div>

<div data-bg-color="#2c292d">
<div class="container padding4x">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title-md text-center">SKILLS PROFESIONALES</h2>
            <br>
        </div>
    </div>

    <div class="row">
        {% for skill in skills %}
        <div class="col-sm-6">
            <div class="progress-line">
                <div class="entry-title">
                    <h5>{{ skill.name }}</h5>
                    <span>{{ skill.percent }}%</span>
                </div>
                <div class="entry-line">
                    <div class="current"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
</div>

<div class="container padding4x">
    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
            <h2 class="title-md text-center">HABILIDADES & CONOCIMIENTO</h2>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-3 col-sm-6 col-xs-12">
            <ul class="check-list">
                <li>install and configure</li>
                <li>web usability</li>
                <li>digital painting</li>
                <li>grid and layout</li>
                <li>mobile app design</li>
                <li>graphical design</li>
                <li>seo optimization</li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <ul class="check-list">
                <li>ux and ui design</li>
                <li>logo design</li>
                <li>3d animation</li>
                <li>audio & video editing</li>
                <li>photography</li>
                <li>web development</li>
                <li>digital marketing</li>
            </ul>
        </div>
    </div>
</div>

<div data-bg-color="#2c292d">
    <div class="container padding4x">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title-md text-center">IDIOMAS</h2>
                <br>
            </div>
        </div>

        <div class="row">
            {% for language in languages %}
            <div class="{% if forloop.counter == 1 %}col-md-offset-3{% endif %} col-md-2 col-sm-4 col-xs-4">
                <div class="pie-progress-wrapper">
                    <div class="pie_progress" role="progressbar" data-goal="{{ language.percent }}">
                        <div class="pie_progress__number">0%</div>
                    </div>
                    <h4>{{ language.name }}</h4>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

<div class="container padding4x">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title-md text-center">HOBBIES PERSONALES</h2>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            
            <div class="icon-boxes">
                
                <div class="box-item">
                    <div class="entry-item">
                        <img src="{% static 'images/1x1.png' %}" class="image-block" alt="image sizer">
                        <span style="background-image:url(/static/images/pages/resume/s-1.png);"></span>
                    </div>
                    <div class="entry-hover">
                        <h6>Swimming</h6>
                        <p>To explore strange new worlds to seek out new life and new civilizations.</p>
                    </div>
                </div>

                <div class="box-item">
                    <div class="entry-item">
                        <img src="{% static 'images/1x1.png' %}" class="image-block" alt="image sizer">
                        <span style="background-image:url(/static/images/pages/resume/s-2.png);"></span>
                    </div>
                    <div class="entry-hover">
                        <h6>photography</h6>
                        <p>To explore strange new worlds to seek out new life and new civilizations.</p>
                    </div>
                </div>

                <div class="box-item">
                    <div class="entry-item">
                        <img src="{% static 'images/1x1.png' %}" class="image-block" alt="image sizer">
                        <span style="background-image:url(/static/images/pages/resume/s-3.png);"></span>
                    </div>
                    <div class="entry-hover">
                        <h6>photography</h6>
                        <p>To explore strange new worlds to seek out new life and new civilizations.</p>
                    </div>
                </div>

                <div class="box-item">
                    <div class="entry-item">
                        <img src="{% static 'images/1x1.png' %}" class="image-block" alt="image sizer">
                        <span style="background-image:url(/static/images/pages/resume/s-4.png);"></span>
                    </div>
                    <div class="entry-hover">
                        <h6>photography</h6>
                        <p>To explore strange new worlds to seek out new life and new civilizations.</p>
                    </div>
                </div>

                <div class="box-item">
                    <div class="entry-item">
                        <img src="{% static 'images/1x1.png' %}" class="image-block" alt="image sizer">
                        <span style="background-image:url(/static/images/pages/resume/s-5.png);"></span>
                    </div>
                    <div class="entry-hover">
                        <h6>photography</h6>
                        <p>To explore strange new worlds to seek out new life and new civilizations.</p>
                    </div>
                </div>

                <div class="box-item">
                    <div class="entry-item">
                        <img src="{% static 'images/1x1.png' %}" class="image-block" alt="image sizer">
                        <span style="background-image:url(/static/images/pages/resume/s-3.png);"></span>
                    </div>
                    <div class="entry-hover">
                        <h6>photography</h6>
                        <p>To explore strange new worlds to seek out new life and new civilizations.</p>
                    </div>
                </div>

                <div class="box-item">
                    <div class="entry-item">
                        <img src="{% static 'images/1x1.png' %}" class="image-block" alt="image sizer">
                        <span style="background-image:url(/static/images/pages/resume/s-6.png);"></span>
                    </div>
                    <div class="entry-hover">
                        <h6>photography</h6>
                        <p>To explore strange new worlds to seek out new life and new civilizations.</p>
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>

        </div>
    </div>

</div>
{% endblock %}