{% extends "base/base.html" %}

{% load static %}

{% block metatitle %}Portafolio{% endblock %}

{% block header %}
{% include "base/header.html" with title="Portafolio" description="Últimos trabajos" %}
{% endblock %}

{% block content %}
<div class="container padding4x">
    <div class="row">
        
        <div class="col-md-12">
            
            <div class="portfolio-posts">
                
                <div class="folio-filter">
                    <a href="javascript:;" data-filter="*" class="btn active">Todos</a>
                    {% for category in categories %}
                    <a href="javascript:;" data-filter=".{{ category.name|lower }}" class="btn">{{ category.name }}</a>
                    {% endfor %}
                </div>

                <div class="folio-viewport">
                    
                    {% for project in object_list %}
                    <article class="folio-item col-md-4 col-sm-6 col-xs-12 {% for cat in project.categories.all %}{{ cat.name|lower }} {% endfor %}">
                        <div class="entry-item" data-bg-image="{{ project.image.url }}">
                            <img src="{% static 'images/3x4.png' %}" class="img-block" alt="image block">
                            <div class="entry-hover">
                                <span class="inner-table">
                                    <span class="inner-cell">
                                        <h3>{{ project.name }}</h3>
                                        <span class="category">{{ project.category.name }}</span>
                                        <a href="{{ project.url }}" class="permalink at-link"><i class="fa fa-angle-right"></i></a>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </article>
                    {% endfor %}                    

                </div>

                
                <p class="text-center">
                    <br>
                    <a href="javascript:;" class="btn">ver más trabajos</a>
                </p>

            </div>

        </div>
        
    </div>
</div>

{% endblock %}