{% extends "base/base.html" %}

{% load static %}

{% block metatitle %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <img src="{% static 'images/pages/the-man.png' %}" class="img-responsive" alt="Image">
        </div>
        <div class="col-sm-7">
            
            <h1 class="title-lgx">SOY <span class="text-brand">DENIS SIAVICHAY</span></h1>
            <h3 class="title-light"><span class="text-brand">BACKEND</span> DEVELOPER</h3>

            <br>
            <p>
                Soy Denis Siavichay, Desarrollador de Software, Ingeniero en sistemas, Master en Ingenería de Software por la Universidad Internacional de la Rioja.
                Apasionado por la tecnología y el desarrollo de software, disfruto mucho programar y construir soluciones informáticas de calidad y eficientes, 
                estoy siempre en constante aprendizaje y pendiente de las tendencias tecnológicas de mi entorno profesional. 
            </p>
            <!--<h2 class="title-lg">INTERESES</h2>
            <p>
                Amo la parrilla y la carne ahumada, escucho música electrónica siento que activa mi cerebro cuando estoy desarrollando, 
                tambien me gusta compartir tiempo de calidad con mi familia, salir de viaje y conocer nuevos lugares.
            </p>-->

            <br>
            <p>
                Atentamente,
                <img src="{% static 'images/pages/signature.png' %}" style="max-width:266px;" class="img-responsive" alt="Image">
            </p>

            <br>
            <p>
                <a href="resume.html" class="btn at-link">Descargar CV</a>
            </p>

            <br>

            <ul class="socials">
                <li><a href="https://github.com/dbsiavichay" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://gitlab.com/dbsiavichay" target="_blank"><i class="fa fa-gitlab"></i></a></li>
                <li><a href="https://www.linkedin.com/in/dbsiavichay/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://medium.com/@dbsiavichay" target="_blank"><i class="fa fa-medium"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCsyfdGogW_vY2aOerNWmByw" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                <li><a href="https://twitter.com/dbsiavichay" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/dbsiavichay" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/dbsiavichay/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}