{% extends "base/base.html" %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-5">
        <img src="{% static 'images/pages/the-man.png' %}" class="img-responsive" alt="Image">
    </div>
    <div class="col-sm-7">
        
        <h1 class="title-lgx">I'M <span class="text-brand">GARY RAPTISH</span></h1>
        <h3 class="title-light">GRAPHIC <span class="text-brand">AND</span> WEB DESIGNER</h3>

        <br>
        <p>
            Come and knock on our door. We've been waiting for you. Where the kisses are hers and hers and his. Three's company too! So lets make the most of this beautiful day. Since we're together. Makin their way the only way they know how. 
        </p>

        <br>
        <h2 class="title-lg">OBJECTIVE</h2>
        <p>
            I am seeking a competitive and challenging environment where I can serve your organization and establish an enjoyable career for myself.
        </p>

        <br>
        <p>
            Yours sincerely,
            <img src="{% static 'images/pages/signature.png' %}" style="max-width:266px;" class="img-responsive" alt="Image">
        </p>

        <br>
        <p>
            <a href="resume.html" class="btn at-link">Download Resume</a>
        </p>

        <br>

        <ul class="socials">
            <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-behance"></i></a></li>
        </ul>

    </div>
</div>
{% endblock %}